@import "~/.cache/wal/colors-rofi-dark"

configuration {
    font: "JetBrainsMono 14";
    show-icons: true;
    location: 5;
    sidebar-mode: false;
    prompt: "search: ";
    alternate-row-color: false;
}

window {
    width: 100%;

    padding: 0;
    border: 0;
    margin: 0;
    spacing: 0;
}

mainbox {
    padding: 0;
    border: 0;
    margin: 0;
    spacing: 0;
}

inputbar {
    padding: 11px 11px 0px;
    border: 0;
    margin: 0;
    spacing: 11px;
}

prompt, entry, num-rows, num-filtered-rows, textbox-num-sep, textbox-prompt-colon {
    vertical-align: 0.5;

    padding: 0;
    border: 0;
    margin: 0 0 11px 0;
    spacing: 0;
}

prompt {
    
}

textbox-prompt-colon {
    str: "";
    font: "JetBrainsMono 20";

}

entry {

}

case-indicator {
    enabled: false;
}

listview {
    horizontal-align: 0.5;
    layout: horizontal;
    
    padding: 0 11px 11px 10px;
    border: 0;
    margin: 0;
    spacing: 11px;
}

element {
    width: 260px;

    orientation: vertical;
    horizontal-align: 0.5;
    height: 0px;

    padding: 0;
    border: 0;
    margin: 0;
    spacing: 0;
}

element-icon {
    size: 37%;

    padding: 0;
    border: 0;
    margin: 0;
    spacing: 0;
}

element-text {
    horizontal-align: 0.5;
    vertical-align: 0.5;

    padding: 5px;
    border: 0;
    margin: 0;
    spacing: 0;

    text-color: @foreground;
}

