@import "~/.cache/wal/colors-rofi-dark"

* {
    main-bg:            @background; //#24283be6;
    main-fg:            @foreground;  //#c0caf5ff;
    main-br:            @border-color;  //#bb9af7ff;
    main-ex:            #7dcfffcc;
    select-bg:          @selected-active-background; //#7aa2f7ff;
    select-fg:          @selected-active-foreground; //#24283bff;
    separatorcolor:     transparent;
    border-color:       transparent;
}
